#snakeImage{
  max-width:33%;
  height:auto;
}

.bottom-left{
  position: absolute;
  bottom: 8px;
  left: 3%;
  color: white;
}

#snakeContainer{
  position: relative;
}

body{
  height:1200px;
}

.gray-rule{
  border-top: 1px solid rgb(79, 92, 98);
  border: rounded;
}
