#snakeImage{
  max-width:33%;
  height:auto;
}

.bottom-left{
  position: absolute;
  bottom: 8px;
  left: 3%;
  color: white;
}

body{
  height:1200px;
}

.gray-rule{
  border-top: 1px solid rgb(79, 92, 98);
  border: rounded;
}

#links-div{
  margin: auto;
  width:0%;
}

#gitHub-logo{
  height: 50px;
  width: auto;
}

.column {
  position: relative;
  float: left;
  width: 33.33%;
  height: auto;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  height:200px
  display: table;
}

#tabular-image1{
  width: 100%;
  height: auto;
}
