body{
  height:200px;
}

#controls-jumbo{
  width:100%;
  height:auto;
  float:right;
}

#snake-canvas{
  width:100%;
  height:auto;
  float:left;
}

#container-table{
  position: relative;
}

#links-div{
  margin: auto;
  width:0%;
}

#gitHub-logo{
  height: 40px;
  width: auto;
}

#overall-container{
  width:75%;
}

#grid-test{
  display: grid;
  grid-template-columns: 50% 50%;
  width:100%;
}
